header {
    background-color: darkgray;
  text-align: center;
  font-family: monospace;
  color: darkblue;
  padding: 20px;
  border: solid darkblue 5px;
  border-radius: 20px;
  font-size: 15px;
}
*{
    background-color: bisque;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
span, a, li {
    display: flex;
    justify-content: center;
}
nav, ul {
    display: flex;
    justify-content: center;
    list-style: none;
}