header {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: -20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
body {
    background-color: aqua;
}
main {
    background-color: aqua;
}
.form {
    display: flex;
    flex-wrap: wrap;   
}
h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.divMain {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: aqua;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-top: 0px;
}
section {
    background-color: aquamarine;
    margin-left: 100px;
    border: 3.5px rgb(196, 25, 25) solid;
    border-radius: 15px;
}
h3 {
    font-size: 30px;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}
img {
    margin-bottom: -3px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}
h2 {
    font-size: 38px;
    font-variant: small-caps;
    color:rgb(199, 58, 58);
    text-align: center;
    background-color: aqua;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: 0px;
}
.containerMusica {
    display: flex;
    flex-wrap: wrap;
    margin-left: 23%;
}
.musica {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: aqua;
}

.imgMusica {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.musicaSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    width: 90%;
}
.divTexto {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
#uno {
    margin-top: 15px;
}
p {
    font-size: 18px;
    font-weight: bolder;
}
span {
    color: blueviolet;
    font-family: fantasy;
}
a {
    color: rgb(133, 4, 4);
    font-size: small;
}